<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="adatlap">
            <h2 class="text-center">Kérem, adja meg a termékek adatait!</h2>
            <h4 class="text-center">A termékeket egyesével viheti fel a rendszerbe.</h4>
            <form>
                <div class="form-group">
                    <label for="name">Termék neve</label>
                    <input type="text" id="name" class="form-control" [(ngModel)]="puppet.name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="type">Termék típusa</label>
                    <input type="text" id="type" class="form-control" [(ngModel)]="puppet.type" name="type" required>
                </div>
                <div class="form-group">
                    <label for="price">Termék ára</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">HUF</span>
                        </div>
                        <input type="number" id="price" class="form-control" aria-label="Amount" [(ngModel)]="puppet.price" name="price" required [min]="1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="imageUrl">Termékfotó (Url-cím)</label>
                    <input type="text" id="imageUrl" class="form-control" [(ngModel)]="puppet.imageUrl" name="price" required>
                </div>
                <button type="submit" (click)="onSubmit()" class="btn btn-success">Hozzáad</button>
            </form>
        </div>
    </div>
</div>
    
    